{% extends 'base.html' %}
{% load static %}

{% block title %}Frequently Asked Questions{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5 mb-4 text-center">Frequently Asked Questions</h1>
    <p class="lead">Here are some of the most common questions we get asked. If you have a question that isn't answered here, please <a href="/contact/">contact us</a>.</p>
    <hr>

    <div class="row">
        <div class="col-md-12">
            <div class="accordion" id="faqAccordion">
                {% for faq in faqs %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="faqHeading{{ forloop.counter }}">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse{{ forloop.counter }}" aria-expanded="true">
                            {{ faq.question }}
                        </button>
                    </h2>
                    <div id="faqCollapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="faqHeading{{ forloop.counter }}">
                        <div class="accordion-body">
                            {{ faq.answer }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
