
.testimonial-card {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.testimonial-card.show {
    opacity: 1;
    transform: translateY(0);
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 50vh;
}

.image-container img {
    max-height: 100%;
    width: auto;
}

.participants-section{
    background-color: #7977fc;
    color: #fff;
    padding: 40px 0;
}
.features-section {
    background-color: #7977fc; /* Set your desired background color */
    color: #fff; /* Text color on the background */
     padding: 40px 0; /* Adjust padding as needed */
}

/* Styling for the program features section */
.program-features {
    background-color: #7977fc; /* Background color */
    color: #fff; /* Text color */
    padding: 20px; /* Add some padding to the section */

    /* Animation */
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-fill-mode: both;
    }

    /* Keyframes for the fadeInUp animation */
    @keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.exit-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
}

.exit-popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.dark-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay color with 50% opacity */
}

/* Add more CSS for styling your pop-up and form as needed. */
