{% extends 'base.html' %}
{% load static %}
{% block title %}Elective Abroad - Blog{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4 text-center">Latest Blog Posts</h1> <!-- Add a relevant title here -->
    <div class="row">
        {% for blog_post in blog_posts %}
        <div class="col-lg-4 mb-4">
            <div class="card h-100"> 
                <img src="{% static 'images/image-2.jpg' %}" class="card-img-top" alt="Blog Post Image">
                <div class="card-body">
                    <h2 class="card-title">{{ blog_post.title }}</h2>
                    <div class="card-text">
                        {{ blog_post.content|safe|truncatechars:150 }}
                    </div>
                    <p class="card-text"><small class="text-muted">Published on: {{ blog_post.pub_date }}</small></p>
                    <a href="{% url 'blog:blog_post_detail' blog_post.pk %}" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No blog posts available.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
