{% extends "base.html" %}
{% load static %}

{% block title %}Program Pricing{% endblock %}

{% block content %}
  <header class="bg-primary text-light text-center py-4">
    <h1>Explore Our Program Pricing</h1>
  </header>

  <div class="container mt-4 text-center">
    <h2 class="mb-4">Pricing Details</h2>

    <div class="table-responsive">
      <table class="table table-bordered table-primary table-hover rounded">
        <thead>
          <tr>
            <th>Destinations</th>
            <th>One Week (USD)</th>
            <th>Two Weeks (USD)</th>
            <th>Three Weeks (USD)</th>
            <th>Four Weeks (USD)</th>
            <th>Five Weeks (USD)</th>
            <th>Six Weeks (USD)</th>
            <th>Extra Cost per Week (USD)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mombasa Kenya</td>
            <td>USD 2000</td>
            <td>USD 2350</td>
            <td>USD 2700</td>
            <td>USD 3050</td>
            <td>USD 3400</td>
            <td>USD 3750</td>
            <td>USD 425</td>
          </tr>
          <tr>
            <td>Malindi Kenya</td>
            <td>USD 1900</td>
            <td>USD 2250</td>
            <td>USD 2600</td>
            <td>USD 2950</td>
            <td>USD 3300</td>
            <td>USD 3650</td>
            <td>USD 410</td>
          </tr>
          <tr>
            <td>Arusha Tanzania</td>
            <td>USD 2050</td>
            <td>USD 2400</td>
            <td>USD 2750</td>
            <td>USD 3100</td>
            <td>USD 3450</td>
            <td>USD 3800</td>
            <td>USD 445</td>
          </tr>
          <tr>
            <td>Nairobi Kenya</td>
            <td>USD 1950</td>
            <td>USD 2300</td>
            <td>USD 2650</td>
            <td>USD 3000</td>
            <td>USD 3350</td>
            <td>USD 3700</td>
            <td>USD 450</td>
          </tr>
          <tr>
            <td>Iloilo, Philippines</td>
            <td>USD 2150</td>
            <td>USD 2500</td>
            <td>USD 2850</td>
            <td>USD 3200</td>
            <td>USD 3550</td>
            <td>USD 3900</td>
            <td>USD 450</td>
          </tr>
        </tbody>
      </table>
    </div>
        <div class="mt-4" style="padding:10px;">
            <a href="/programs/" class="btn btn-primary btn-lg">Explore Programs</a>
        </div>
        <div class="mt-4" style="padding:10px;">
            <a href="/contact/" class="btn btn-success btn-lg">Contact Us</a>
        </div>
  </div>

{% endblock %}

