{% extends 'base.html' %}
{% load static %}
{% block title %}Elective Abroad - Home{% endblock %}

{% block content %}
<div class="container">
    <!-- Sidebar -->
    <div class="row mt-4">
        <div class="col-md-3 d-none d-md-block ">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fa-solid fa-share-nodes fa-xl"></i> Quick Links
                    </h5>
                    <ul class="list-group list-group-flush">
    <li class="list-group-item ">
        <a href="/contact/"><i class="fas fa-globe"></i> Destinations</a>
    </li>
    <li class="list-group-item ">
        <a href="/contact/"><i class="fas fa-dollar-sign"></i> Pricing</a>
    </li>
    <li class="list-group-item ">
        <a href="/contact/"><i class="fas fa-newspaper"></i> Blog</a>
    </li>
    <li class="list-group-item ">
        <a href="/contact/"><i class="fas fa-envelope"></i> Contact Us</a>
    </li>
    <li class="list-group-item ">
        <a href="/programs/"><i class="fas fa-book"></i> Programs</a>
    </li>
    <li class="list-group-item ">
        <a href="/contact/"><i class="fas fa-university"></i> Placement Institutions</a>
    </li>
    <li class="list-group-item ">
        <a href="/contact/"><i class="fas fa-file-alt"></i> How to Apply</a>
    </li>
    <li class="list-group-item ">
        <a href="/contact/"><i class="fas fa-building"></i> Facilities</a>
    </li>
    <li class="list-group-item ">
        <a href="/contact/"><i class="fas fa-graduation-cap"></i> Academic Institutions</a>
    </li>
    <li class="list-group-item ">
        <a href="/contact/"><i class="fas fa-bed"></i> Accommodation</a>
    </li>
    <li class="list-group-item ">
        <a href="/contact/"><i class="fas fa-passport"></i> Visa</a>
    </li>
    <li class="list-group-item">
        <a href="/contact/"><i class="fas fa-hiking"></i> Excursions</a>
    </li>
    <li class="list-group-item ">
        <a href="/contact/"><i class="fas fa-question-circle"></i> FAQ</a>
    </li>
    <li class="list-group-item ">
        <a href="/contact/"><i class="fas fa-info-circle"></i> About Us</a>
    </li>
    <li class="list-group-item ">
        <a href="/contact/"><i class="fas fa-users"></i> Mentors</a>
    </li>
    <li class="list-group-item ">
        <a href="/contact/"><i class="fas fa-guitar"></i> Cultural Activities</a>
    </li>
</ul>
                </div>
            </div>
        </div>

        <!-- Main Content -->
        <div class="col-md-9">
            <!-- Navigation Menu -->
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent fixed">
                <div class="container-fluid border-bottom border-dark">
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link nav-box" href="#overview">
                                    <div class="p-2 align-items-center flex-fill flex-grow-1 ">
                                        Overview
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-box" href="#photos">
                                    <div class="p-2 align-items-center flex-fill flex-grow-1">
                                        Photos
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-box" href="#facilities">
                                    <div class="p-2 align-items-center flex-fill flex-grow-1">
                                        Hospitals/Facilities
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-box" href="#departments">
                                    <div class="p-2 align-items-center flex-fill flex-grow-1">
                                        Departments
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-box" href="#qas">
                                    <div class="p-2 align-items-center flex-fill flex-grow-1">
                                        Q&As
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-box" href="#budget">
                                    <div class="p-2 align-items-center flex-fill flex-grow-1">
                                        Budget
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

<div class="jumbotron text-center text-white position-relative" style="background-image: url('{% static 'images/image-2.jpg' %}'); background-size: cover; background-position: center; min-height: 60vh;">
    <div style="background-color: rgba(0, 0, 0, 0.5); position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></div>
    <div class="position-absolute top-50 start-50 translate-middle" style="z-index: 1;">
        <div class="container">
            <h1 class="display-4" style="font-weight: bold;">An experience of a lifetime</h1>
            <a class="btn btn-primary btn-lg mt-3" href="/contact/" role="button">Apply Now</a>
        </div>
    </div>
</div>

            <!-- Section 1: Why Choose Elective Abroad? -->
            <div class="" id="overview">
                <div class="row mt-4" style="box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;">
                    <div class="col-md-6 text-center text-md-start" style="padding-bottom: 5px;">
                        <h2>Why Choose Elective Abroad?</h2>
                        <p>Elective Abroad is the leading organizer of Healthcare internships and volunteer placements in Africa. No one comes close to the quality and responsiveness of our programs; we organize an end-to end placement and mean every word that you read.</p>
                        <p>Our experience in organizing pre-medical hospital exposure, medical Nursing, & Dental electives gives you an experience of a lifetime! Get hosted by native experts who are there from the pre-departure process till airport drop-off when you bid us bye.</p>
                        <div class="text-center">
                            <a class="btn btn-primary btn-sl mt-3" href="/why-us/" role="button">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-6 order-md-2" style="padding: 10px;" >
                        <img src="static/images/image-1.jpg" alt="Image 1" class="img-fluid rounded img-zoom" />
                    </div>
                </div>
 
                <!-- Section 2: Program Pricing -->
                <div class="row mt-4" style="box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;">
                    <div class="col-md-6 text-center text-md-start">
                        <h2>Program Pricing</h2>
                        <p>At Elective Abroad, we prioritize affordability because we understand that pursuing your dreams shouldn't break the bank. Our pricing structure is designed to be competitive, ensuring that you receive exceptional value for your investment in your education and international elective program.</p>

                        <p>Transparency is at the core of our pricing philosophy. We believe that you should always know exactly what you're paying for, and that's why we have a commitment to no hidden fees. When you choose Elective Abroad, you can trust that the price you see is the price you pay.</p>
                        <div class="text-center">
                            <a class="btn btn-primary btn-sl mt-3" href="/pricing/" role="button">View Pricing</a>
                        </div>
                    </div>
                    <div class="col-md-6 order-md-2" style="padding: 10px;">
                        <img src="static/images/image-4.jpg" alt="Image 2" class="img-fluid rounded img-zoom" />
                    </div>
                </div>

                <!-- Section 3: Stay Informed with Our Blog -->
                <div class="row mt-4" style="box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px; " >
                    <div class="col-md-6 text-center text-md-start" style="padding-bottom: 10px;">
                        <h2>Stay Informed with Our Blog</h2>
                        <p>Our blog keeps you updated on elective programs and travel tips. Read informative articles about elective opportunities, discover experiences shared by students who've traveled with us, and get travel tips, cultural insights, and destination highlights. Stay connected with us through our blog to make the most of your elective journey.</p>
                        <div class="text-center">
                            <a class="btn btn-primary btn-sl mt-3" href="/blog/" role="button">Read Blog</a>
                        </div>
                    </div>
                    <div class="col-md-6 order-md-2" style="padding: 10px;">
                        <img src="static/images/image-3.jpg" alt="Image 3" class="img-fluid rounded img-zoom" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CSS for the carousel overlay -->
<style>
    .nav-link-box {
        border: 1px solid #ccc;
        border-bottom: none;
        padding: 5px 5px;
        display: flex;
        align-items: center;
    }

    .nav-box {
        border: 1px solid #ddd;
        margin: 6px;
        border-bottom: none;
    }

    .nav-box:hover {
        background: 2px solid #007BFF;
    }
</style>
{% endblock %}

