{% extends "base.html" %}
{% load static %}

{% block title %}Explore Programs - Elective Abroad{% endblock %}

{% block content %}
<div class="container mt-4" style="padding-top:130px">
    <div class="row text-center">
        <div class="col-md-12">
            <h1 class="display-4"><strong>Explore Programs</strong></h1>
        </div>
    </div>
    <div class="row mt-4">
        {% for program in programs %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static program.image.url %}" class="card-img-top" alt="{{ program.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ program.title }}</h5>
                    <p class="card-text">{{ program.description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Location:</strong> {{ program.location }}</li>
                    <li class="list-group-item"><strong>Dates:</strong> {{ program.start_date }} - {{ program.end_date }}</li>
                    <li class="list-group-item"><strong>Capacity:</strong> {{ program.capacity }} students</li>
                </ul>
                <div class="card-body">
                    <a href="{% url 'programs:program_detail' program.id %}" class="btn btn-primary btn-block">Learn More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}




